<!--<h1>String Interpolation</h1>-->
<!--<p>-->
 <!--{{stringInterpolation}}| {{numberInterpolation}}-->
<!--</p>-->
<!--<hr>-->
<!--<h1>Property Binding</h1>-->
<!--<tr>-->
  <!--<td><input type="text" [value]="stringInterpolation"></td>-->
  <!--<td><input type="text" [value]="numberInterpolation"></td>-->
<!--<tr>-->
  <!--<p [ngClass]="{redborder: onTest()}">Is this Styled?</p>-->
  <!--<p [ngStyle]="{color: 'green'}">Is this Styled?</p>-->
  <!--<h3>PropertyBinding</h3>-->
  <!--<app-property-binding [result]="10" ></app-property-binding>-->
  <!--<hr>-->
  <!--<app-event-binding (clicked)="onClicked($event)" > </app-event-binding>-->
  <!--<hr>-->
  <!--<h1>Two Way dataBindig </h1>-->
  <!--<app-two-way-binding></app-two-way-binding>-->
  <!--<hr>-->
